.home {
  width: max-content;
  margin: 128px auto;
}

.home-title {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  color: #053ed1;
}

.contact-image {
  width: 40px;
  height: 40px;
  border: 1px solid #ff0000;
  box-sizing: border-box;
}

.contact-item {
  width: 902px;
  height: 60px;
  padding: 8px 64px;
  margin-bottom: 8px;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(5, 62, 209, 0.14);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-item:hover {
  border: 1px solid #4eb4ff;
  box-shadow: 0px 4px 10px rgba(5, 62, 209, 0.19);
}

.contact-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
}

.contact-item-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
}

.contact-item-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact-item-email {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #000000;
}

.contact-item-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #000000;
}

.contact-table-header {
  padding: 8px 64px;
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: space-between;
  margin-top: 16;
  margin-bottom: 8;
}

.contact-table-column {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #b0c6ff;
}
