.logout {
  margin-right: 64px;
}

.header {
  position: absolute;
  width: 100%;
  height: 78px;
  left: 0px;
  top: 0px;
  background: linear-gradient(90.21deg, #053ed1 0%, #0f4eac 100%);
  background-image: url('../../assets/header_bar.svg');
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-detail {
  display: flex;
  flex-direction: row;
  margin-left: 64px;
}

.header-text-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ffffff;
}

.header-text-email {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ffffff;
}
