.container {
  height: 100vh;
}

.textinput {
  height: 60px;
  width: 401px;
  left: 440px;
  top: 257px;
  border-radius: 4px;
}

.button {
  height: 60px;
  width: 401px;
  border-radius: 4px;
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 483px;
  border-radius: 10px;
}

.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-header {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-align: left;
}

.login-logo {
  height: 32px;
  width: 30.933334350585938px;
  border-radius: 0px;
}